<footer class="footer">
    <p>&copy; 2025 Veer Nari. All rights reserved.</p>
</footer>

<style>
  .footer {
  background-color: #353535;
  padding: 10px; /* Enough padding for text */
  text-align: center;
  color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
  height: auto; /* Allow it to expand based on content */
  font-size: 14px; /* Adjust text size */
}

</style>
