<header class="header">
    <nav>
      <a href="/">Home</a>
      <a href="/veer">Veer</a>
      <a href="/about">About</a>
    </nav>
</header>

<style>
  .header {
    background-color: #353535;
    padding: 15px;
    text-align: center;
  }

  .header nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
  }

  .header nav a:hover {
    text-decoration: underline;
  }
</style>
